# Dependencias
node_modules/
package-lock.json
yarn.lock

# Archivos del sistema
.DS_Store
Thumbs.db
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
*.tmp
